@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot?v=4.1.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0") format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff?v=4.1.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.1.0") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal
}

.p24-label-short {
    max-width: 25px;
}

#content form table tr td:first-child { min-width: 250px; text-align: right; padding-right: 10px; }
#content form table tr { height: 30px; }
input.short { display:inline-block !important; width: 80% !important; margin-right: 20px; }
fieldset table {   width: 100%; max-width: 640px !important; }
fieldset table tr td:first-child { width: 35%; }
.paylistprom_item { cursor: pointer; display: block !important; background: white; background: rgba(255,255,255,0.8); font-weight: normal !important; text-align: left; }

.badge-ok, .badge-no { position: absolute; }
.badge-ok:before,.badge-no:before, .badge-eye { font-family: FontAwesome; font-size: 2em; }
.badge-ok:before { color: #90cb5c; content: "\f058"; }
.badge-no:before { color: #e17875; content: "\f071"; }
.badge-eye:before { color: gray; content: "\f06e"; }

span.p24info { font-size: 10px; position: relative; top: -1px; }
span.p24info:before { content: "\f05a"; font-family: FontAwesome; margin-right: 4px; color: #00aff0; font-size: 1.5em; position: relative; top: 1px;}

.bank-box { transition: transform 0.2s ease,box-shadow 0.2s ease; }
.bank-box.ui-sortable-helper { transform: rotate(10deg); box-shadow: 10px 10px 10px lightgray; }
.bank-box.ui-unrotate-helper { transform: rotate(0deg) !important; box-shadow: 0 0 0 lightgray !important; }


.hidden, [data-type="p24config"] {
    display: none;
}
.configuration-switch {
    padding-left: 50px;
    padding-bottom: 20px;
}
.tab-hook {
    width: 30px;
    height: 30px;
}
.tab-hook-description {
    font-size: 15px;
    padding-right: 30px;
}

.paymethod .selected {
    width: 730px;
    border: 5px dashed lightgray;
    height: 101px;
    padding: 0.5em;
    overflow: hidden;
    display: inline-block;
}
.bank-placeholder { opacity: 0.6; }
.sortable.available .bank-box:last-child { clear: both; }


.margin-left-2em {
    margin-left: 2em;
}

.display_none {
    display: none;
}

.cursor_inline {
    cursor: ns-resize;
    display: inline-block;
}

.relative_top_2 {
    position: relative;
    top: -2px;
}

.top_1em {
    margin: 1em 0 0 0;
}

.float_left {
    float: left;
}

.arrow_left_icon {
    display: inline-block;
    opacity: 0.3;
    position: relative;
    left: 7px;
}

.clear_margins{
    margin: 0 0 0 0;
    clear: both;
}

.min_height_50 {
    min-height:50px;
}

.clear_both {
    clear: both;
}
