{*
* @license https://www.gnu.org/licenses/lgpl-3.0.en.html
*}

<div class="p24-step p24-step-5">
    <p>
        Podsumowanie
    </p>
    <p>
        To już wszystko!
    </p>
    <p>
        Phasellus ornare, ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam viverra nisi, in
        interdum massa nibh nec erat.
        Proin nibh augue, suscipit a, scelerisque sed, lacinia
        in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
        Proin nibh augue, suscipit a, scelerisque sed, lacinia
        in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
        Nam congue, pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam sit amet
        lectus quis est congue mollis. Phasellus congue lacus eget neque.
    </p>
</div>