{*
* @author Przelewy24
* @copyright Przelewy24
* @license https://www.gnu.org/licenses/lgpl-3.0.en.html
*}

<div class="alert alert-info">
    {l s='The module Przelewy24.pl currently has basic functionality.' mod='przelewy24'}
    <button type="button" class="close" data-dismiss="alert">×</button>
</div>
