{*
* @author Przelewy24
* @copyright Przelewy24
* @license https://www.gnu.org/licenses/lgpl-3.0.en.html
*}

<div class="alert alert-info">
    {l s='You have to be registered to use module Przelewy24. If you have just done it, you can configure module in Payment Settings. However if you still haven not registered, go to panel'  mod='przelewy24'}
    <a target="_blank" href="http://www.przelewy24.pl/rejestracja">
        Przelewy24
    </a>.
    <button type="button" class="close" data-dismiss="alert">×</button>
</div>
